/* uncss:ignore */
body.dragging { background-color: $blue;}

.bungkus{
  display: block;
  min-height: 100vh;
}

header {
  width: 100%;
  /* uncss:ignore */
  .container {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
    @include media( "screen", "<minWidth") {
      -webkit-box-orient:
      vertical;-webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-grid-row-align: center;
      align-items: center;
    }
  }

  .app_page &{
    position: fixed;
    z-index: 100;
    bottom: 0;
  }

  .logo{
    margin: 1.5rem 2rem;
    color: $blue_25;
    @include media( "screen", "<minWidth") {
      text-align: center;
      margin:0;
    }
  }

  .lead{
    padding: 0;
    margin: 1.5rem 2rem;
    color: $blue_4;
    text-align: center;
    @include media( "screen", "<minWidth") { margin:0; }
  }

  .demo{
    color: $white;
    position: relative;
    z-index: 101;
    margin: .75rem 2rem;
    @include media( "screen", "<minWidth") { margin:0; }
    h3 {
      margin:.5rem;
    }

    p{
      padding: 0 2rem;
      margin: 0;
      height: 48px;
      text-align: center;
      line-height: 48px;
      font-size: 1rem;
      text-transform: capitalize;
      border-radius: 5px;
      border: 1px solid $blue_4;
    }
  }
  .dragging &{display: none;}
}


.sharing_section {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 0;
}

/* uncss:ignore */
body.dragging .drop_zone_label { color: rgba(255,255,255,.5);}

/* uncss:ignore */
body.dragging .default_label { display: none; }

/* uncss:ignore */
body.dragging .dragging_label { display: block; }

/* uncss:ignore */
.get_color,
.function_title,
.dropped_image .run_functions_button,
.dragging_label,
code {display:none;}

.has_fish .dragged_images{
  padding: 2rem 0 10rem 0;
}

/*** that's it folks ***/
